.app__header{
    width: 100%;
    margin-bottom: 12px;
}
.app__logo{
    width: 80%;
    display: block;
    max-width: 450px;
    margin: 0 auto;
}

.app__logo img{
    width: 100%;
    height: 100%;
}